<%-- 
    Document   : action
    Created on : Nov 30, 2016, 5:41:42 PM
    Author     : fred
--%>

<%@tag description="put the tag description here" pageEncoding="UTF-8"%>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="page" required="true"%>

<%-- any content can be specified here e.g.: --%>
/cc/page/${page}