<!DOCTYPE html>
<!--
© 2017 Fred Zuijdendorp
-->
<html>
	<head>
		<title>Angular test</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	</head>
	<body>
		<div class="w3-container">
			<div ng-app="testApp" ng-controller="coursesCtrl"> 
				<h2>Courses</h2>
				<table id='courses' class="w3-table w3-bordered w3-striped">
					<tr>
						<th>title</th>
						<th>start</th>
						<th>teacher</th>
						<th>students</th>
					</tr>
					<tr ng-repeat="x in courses| orderBy : 'startDate'" ng-click="courseSelected(x)" style="cursor:pointer">
						<td>{{x.title}}</td>
						<td>{{x.startDate| date:'yyyy-MM-dd'}}</td>
						<td>{{x.teacher.firstName + ' ' + x.teacher.lastName}}</td>
						<td>{{x.students.length}}</td>
					</tr>
				</table>
				<br/>
				<div ng-show="hasSelection">
					<h2>Students for "{{selectedCourse.title}}"</h2>
					<table id='students' class="w3-table w3-bordered w3-striped">
						<tr>
							<th>first name</th>
							<th>last name</th>
						</tr>
						<tr ng-repeat="x in selectedCourse.students">
							<td>{{x.firstName}}</td>
							<td>{{x.lastName}}</td>
						</tr>
					</table>
				</div>

			</div>

			<script>
				var app = angular.module('testApp', []);
				app.controller('coursesCtrl', function ($scope, $http) {
					$scope.hasSelection = false;
					$scope.courseSelected = function (course) {
						console.log(course);
						$scope.selectedCourse = course;
						$scope.hasSelection = true;
					}
					$http.get("/cc/webresources/domain.course")
							.then(function (response) {
								$scope.courses = response.data;
							});
				});
			</script>
		</div>
	</body>
</html>
