<!DOCTYPE html>
<html>
	<title>W3 test</title>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<body>
		<div class="w3-container">

			<table id="id01" class="w3-table w3-bordered w3-striped">
				<tr>
					<th>title</th>
					<th>start</th>
					<th>days</th>
				</tr>
				<tr w3-repeat="courses">
					<td>{{title}}</td>
					<td>{{startDate}}</td>
					<td>{{durationDays}}</td>
				</tr>
			</table>
		</div>

		<script>
			w3Http("/cc/webresources/domain.course", function () {
				if (this.readyState === 4 && this.status === 200) {
					var myObject = JSON.parse(this.responseText);
					w3DisplayData("id01", {"courses": myObject});
				}
			});
		</script>

	</body>
</html> 

